.contact {
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #222, #333);
  color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 5px;
}

/* Heading */
.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #ffcc66;
  margin-top: 5px;
}
.contact h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #fbc250;
  margin-top: 0px;
  margin-bottom: 3px;
}
/* Contact Info */
.contact-info {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.icon {
  color: #ffcc66;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 6px;
}
/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: 350px;
  margin: 1.2rem auto; 
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.6rem; /* Reduced padding */
  font-weight: bold;
}
.resume-download {
  margin-top: 1rem; /* Adjust this value as needed */
}
.resume-download h3 {
  margin: 0; /* Reset margin */
  padding-top: 0.5rem; /* Add padding if needed */
  padding-bottom: 0.5rem; /* Add padding if needed */
}

/* Send Button */
.send-btn {
  padding: 6px 12px; /* Smaller button */
  font-size: 0.9rem;
  background-color: #f98553; /* Match your theme */
  color: white;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  width: 150px;
  justify-content: center;
  border: none;
}

.send-btn:hover {
  background-color: #ffcc66; /* Lighter hover effect */
  transform: translateY(-2px);
}

/* Social Links */
.social-links {
  margin-top: 1rem;
  margin-bottom: 0.5rem; /* Add this line */
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.social-icon {
  font-size: 2rem;
  color: #fcbe42;
  transition: 0.3s;
}

.social-icon:hover {
  color: #f98553;
  transform: scale(1.2);
}

/* Resume Download */
.resume-download {
  margin-top: 0.5rem;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.6rem 1rem;
  background: #ff5f1b;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: bold;
}

.download-btn:hover {
  background: #fcbe42;
  color: #333;
  transform: scale(1.03);
}

.download-icon {
  font-size: 1rem;
}
